h1, h2 {
  font-weight: 100;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url('image1.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.text-1{
  padding-top: 160px;
  h1 {
    font-size: 60px;
    margin-bottom: 5px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.text-white {
  color: #fff;
}

.btn-white, .btn-black {
    font-weight: 100;
    padding: 0.5em 0.5em;
    margin: 1em 0;
    font-weight: bold;
    color: #fff;/*文字色*/
    font-size: 20px;
    border: solid 3px #adb5bd;/*線*/
    border-radius: 10px;/*角の丸み*/
}

