.-control {
  height: 45px;
}

.btn-black {
  color: #000;
}

.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: image-url('image1.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;

  .users-new-container {
    padding-top: 110px;

    .form-group {
      margin-bottom: 20px;
    }
  }
}

.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.caution {
  color: #fff;  
}